@import "moz.css";
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
/*
 * По умолчанию горизонтальная линейка
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Удалить разрыв между audio, canvas, iframes,
 * images, videos и дна контейнеров:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Удалить по умолчанию набор полей стилей
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Допускают только вертикальное изменение размеров textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Браузер Обновить Строки
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: CoreRhino45Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.66em;
  -webkit-text-size-adjust: 0.625em;
  /* 2 */
  -ms-text-size-adjust: 0.625em;
  /* 2 */
  color: #333;
  background-color: #fff;
  font-kerning: auto;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
/* ---------------------------------------------------------HEADER*/
.up-logo {
  max-height: 215px;
}
.up-header {
  overflow: hidden;
  position: relative;
  z-index: 6;
}
.logo img {
  margin-top: 64px;
}
.number-block .button-top {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 3px solid #e5a430;
  padding: 12px 14px;
  font-family: 'CoreRhino35Medium', sans-serif;
  font-weight: 700;
  overflow: hidden;
  vertical-align: baseline;
  line-height: normal;
  text-align: right;
  margin-top: 86px ;
  display: flex;
}
.number-block .button-top a {
  color: #000;
  font-size: 1.400em;
}
.number-block .button-top a:hover {
  border: none;
  text-decoration: none;
  color: #000;
}
.number-block .button-top a span {
  font-size: 1.600em;
}
/* ---------------------------------------------------------HEADER>button*/
/* Common button styles */
.button {
  float: left;
  display: block;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}
.button--pipaluk {
  color: #fff;
}
/* Pipaluk hover-effects*/
.button--pipaluk::before,
.button--pipaluk::after {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
}
.button--pipaluk:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.button--pipaluk::before,
.button--pipaluk:hover::after {
  -webkit-transform: scale3d(0.7, 0.7, 1);
  transform: scale3d(0.7, 0.7, 1);
}
.button--pipaluk:hover::after {
  background-color: #e5a430;
}
.button--pipaluk.button--inverted:hover::after {
  background-color: #fff;
}
/* ---------------------------------------------------------SLIDER*/
.slider {
  height: auto;
  background-size: cover;
  background: #e5a430 url("../img/slider-bg.png") no-repeat;
  width: 100%;
  position: relative;
  max-height: 682px;
}
.slider .slider-bg {
  max-width: 550%;
  position: absolute;
  z-index: 4;
  top: 0;
}
.slider .navbar {
  margin-bottom: 95px;
  z-index: 7;
}
.slider .navbar-nav {
  margin-top: 35px;
}
.slider .navbar-nav li {
  margin-left: 10px;
}
.slider .navbar-nav a {
  font-size: 1.4em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}
.slider .navbar-nav a:hover {
  color: #c2a374;
  background-color: #fff;
}
.slider .navbar-nav .active {
  background-color: #ffffff;
}
.navbar-toggle {
  background-color: #591405;
}
.navbar-toggle .icon-bar {
  background-color: #e5a430;
}
/* ---------------------------------------------------------SLIDER>IMG*/
.img-slider {
  position: relative;
  z-index: 5;
  color: #fff;
}
.img-slider h2 {
  float: left;
  font: 8.2em CoreRhino65Bold, Helvetica, Arial, sans-serif;
  line-height: 1em;
  padding: 0;
  text-transform: uppercase;
  margin-right: 55px;
  margin-left: 15px;
}
.img-slider p {
  line-height: normal;
  max-width: 480px;
  margin-left: 25px;
  margin-top: 15px;
  float: left;
  text-align: left;
  font-size: 1.4em;
}
.img-slider p a {
  margin-top: 20px;
  float: right;
  text-align: right;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 5px 15px;
  text-decoration: none;
  margin-right: 15px;
}
.img-slider p a:hover {
  background-color: #fff ;
  color: #591405;
}
.img-slider div {
  outline: none;
}
.img-slider div img {
  float: right;
  max-width: 100%;
}
.img-slider .slick-dots {
  left: -150px;
  bottom: 130px;
  max-width: 450px;
}
.img-slider .slick-dots li button:before {
  font-size: 20px;
  box-shadow: inset -2px -2px 8px 0px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
}
.img-slider .slick-dots li.slick-active button::before {
  color: #fff;
}
/* ---------------------------------------------------------CONTENT*/
#content {
  margin-top: 105px;
}
#content .news,
#content .about {
  height: auto;
}
#content h3 {
  color: #591405;
}
#content .about {
  font-size: 1.400em;
  line-height: normal;
}
#content .news p {
  font-size: 1.400em;
}
#content .news div:nth-child(2) {
  margin-top: 0 !important;
}
#content .news div {
  margin-top: 75px;
}
#content .news div a.news-links {
  border-bottom: 1px dotted #337ab7;
}
#content .news div a.news-links:hover {
  border: none;
}
/* ---------------------------------------------------------PARALAX*/
#paralax {
  margin-top: 80px;
  height: 465px;
  background-color: #666;
  position: relative;
  outline: hidden;
}
#paralax img {
  bottom: -300px;
  left: 0;
  position: absolute;
}
.section-1 {
  overflow: hidden;
  height: 465px;
  background-size: cover;
  -webkit-background-size: cover;
}
.section-1 .paralax-txt {
  opacity: .6;
  background: url("../img/paralax.png") no-repeat center;
  z-index: 10;
  display: inline-block;
  height: 301px;
  width: 304px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  margin-top: -20px;
}
#contacts {
  margin-top: 75px;
  position: relative;
  outline: hidden;
}
#contacts .form-group {
  overflow: hidden;
}
.section-2 .text-form p {
  font-size: 1.6em;
  line-height: normal;
}
#map {
  margin-top: 50px;
}
.map {
  height: 500px;
  width: 100%;
}
footer {
  background-color: #e5a430;
  height: 244px;
  padding-top: 50px;
}
footer img {
  float: left;
  margin-right: 25px;
}
footer p {
  padding-top: 50px;
  font-size: 1.6em;
  line-height: normal;
}
